ul {
  list-style: none;
  margin-top: 20px;
}

li{
  margin: 0;
  padding: 6px 14px;
}

li:hover{
  background: lightgrey;
  cursor: pointer;
}

button {
  border:0;
  padding:0;
  margin-left: 5px;
  font-size: 20px
}

button:hover{
  color:#1EAEDB
}
