<div class="row">
  <div class="six columns">
      <app-lista-peliculas
      [peliculas]="peliculas$ | async"
      (peliculaSeleccionada)="verDetalles($event)">
      </app-lista-peliculas>
  </div>
  <div class="six columns">
      <app-detalles-pelicula
      [pelicula]="peliculaSeleccionada"
      (botonYoutubePulsado)="verTrailer($event)"
      (botonIMDBPulsado)="verDatos($event)"
      (botonElininarPulsado)="eliminarPelicula($event)"
      >
    </app-detalles-pelicula>
  </div>
</div>







